{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/credits.css?v=1.0') }}">
{% endblock %}

{% block header %}
    <a id="back-btn" class="header-btn" href="/">
        <i class="fas fa-arrow-circle-left"></i>
    </a>
    <a id="home-btn" class="header-btn"  href="/">
        <i class="fas fa-home"></i>
    </a>
{% endblock %}

{% block body %}
    <div class="card">
        <h4 id="credits-intro">TaleTree est un projet étudiant réalisé à l'automne 2020 dans le cadre de l'UV SI28 à l'UTC.</h4>
    </div>
    <div class="row">
        <div class="card col-md-4 no-radius-right">
            <h4>Auteurs</h4>
            <div class="card-content">
                <p>Florent Gaudin</p>
                <p>Louis Pineau</p>
                <p>Trang Pham Nu Huyen</p>
            </div>
        </div>
        <div class="card col-md-4 no-radius">
            <h4>Encadrant</h4>
            <div class="card-content">
                <p>Serge Bouchardon</p>
            </div>
        </div>
        <div class="card col-md-4 no-radius-left">
            <h4>Testeurs</h4>
            <div class="card-content">
                <p>Les étudiants de SI28</p>
            </div>
        </div>
    </div>

    <div class="card">
        <h4>Images</h4>
        <div class="card-content">
            <a href='https://fr.pngtree.com/free-backgrounds'>Photos d'arrière-plan gratuites de fr.pngtree.com</a>
            <a href="https://www.freepik.com/vectors/background">Background vector created by starline - www.freepik.com</a>
        </div>
    </div>
    
    <div id="card-logo-utc" class="card">
        <a href="https://www.utc.fr/">
            <img id="logo-utc" src="{{ asset('media/images/logo_utc.jpg') }}" alt="Logo de l'UTC">
        </a>
    </div>
{% endblock %}