{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css?v=1.0') }}">
    <style>
        #page-content {
            background-image: url('{{ asset('media/images/home_background.jpg') }}');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="stats-container">
        <div id="stats-nb-chapter" class="stats-item">
            <div class="stats-item-title">Nombre de passages</div>
            <div class="stats-item-value">{{ nbChapter }}</div>
        </div>
        <div id="stats-nb-images" class="stats-item">
            <div class="stats-item-title">Nombre d'images différentes</div>
            <div class="stats-item-value">{{ nbImages }}</div>
        </div>
        <div id="stats-last-update" class="stats-item">
            <div class="stats-item-title">Dernière modification</div>
            <div class="stats-item-value">{{ lastUpdate }}</div>
        </div>
        <button type="button" id="history-btn" class="btn btn-light" data-toggle="modal" data-target="#historyModal">
            <i class="fas fa-hourglass-half "></i>
            Voir les dernières modifications
        </button>
        <a id="credits" class="btn btn-light mt-3" href="{{ path('credits')}}">Crédits</a>
    </div>
    <a id="enter-btn" class="btn btn-success" href="{{ path('tale', {id: firstChapter})}}">
        <i class="fas fa-arrow-up" style="margin-right: 1rem;"></i>
        Adventure Time !
        <i class="fas fa-arrow-up"  style="margin-left: 1rem;"></i>
	</a>
{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="historyModalLabel">Dernières modifications</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <aside id="history-panel" class="modal-body h6">
					<div id="lst-suite">
					{% for chapter in recentChapters %}
						<a class="lst-suite-btn d-block mt-2 {{
							("now"|date('U') - chapter.updatedAt|date('U') <= 432000)? 'recent' : 'old'
						}}" href="{{ path('tale', {id: chapter.id})}}"><i class="fas fa-arrow-right mr-2"> </i>{{ chapter.updatedAt|date('d-m-Y H:i:s') }} - {{ chapter.title }}</a>
					{% endfor %}
					</div>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/jquery/jquery-3.5.1.min.js?v=3.5.1') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap.min.js?v=4.1.3') }}"></script>
{% endblock %}
