{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- summernote -->
    <link rel="stylesheet" href="{{ asset('css/summernote/summernote-bs4.min.css?v=0.8.18') }}">

    <link rel="stylesheet" href="{{ asset('css/baseForm.css?v=1.0') }}">
{% endblock %}

{% block header %}
    {% if chapter is defined %}
    <a id="back-btn" class="header-btn" href="{{ path('tale', {id: chapter.id})}}">
    {% else %}
    <a id="back-btn" class="header-btn" href="{{ path('tale', {id: previousChapter.id})}}">
    {% endif %}
        <i class="fas fa-arrow-circle-left"></i>
    </a>
    <a id="home-btn" class="header-btn"  href="/">
        <i class="fas fa-home"></i>
    </a>
{% endblock %}

{% block body %}

    <section>
        <div class="row">

            <section id="previousChapterContent" class="col-lg-6">
                <h2>Passage précédent : {{ previousChapter.title }}</h2>
                <p>{{ previousChapter.content|raw }}</p>
            </section>

            <section class="form-container col-lg-6">
                <div class="form-inputs">
                    <div class="form-title">
                        {% if chapter is defined %}
                            <div>Éditer cette suite</div>
                        {% else %}
                            <div>Créer une suite</div>
                        {% endif %}
                    </div>


                    {% if DBUpdatedSuccessfully is defined and not DBUpdatedSuccessfully %}
                        <div class="alert alert-danger suite-form-success-msg" role="alert">
                            {% if chapter is defined %}
                                Erreur : La suite n'a pas pu être modifiée
                            {% else %}
                                Erreur : La suite n'a pas pu être créée
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if chapter is defined %}
                    <form method="post" action="{{ path('editTaleSubmitted') }}" enctype="multipart/form-data">
                        {% else %}
                        <form method="post" action="{{ path('addNewSuite') }}" enctype="multipart/form-data">
                            {% endif %}
                            <div class="row">
                                <div class="col-12 form-group">
                                    <input type="text" id="chapter_title" class="form-control form-control-sm" name="chapter[title]" placeholder="Titre du passage" value="{% if chapter is defined %}{{ chapter.title }}{% endif %}" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 custom-file">
                                    <input type="file" class="custom-file-input" id="background-img-file" name="chapter[background]" accept=".jpg,.png" value="{% if chapter is defined %}{{ chapter.background }}{% endif %}">
                                    <label id="background-img-file-label" class="custom-file-label" for="background-img-file">{% if chapter is defined %}{{ chapter.background }}{% else %}Image de fond ...{% endif %}</label>
                                    <div class="fa-3x" id="spinner-img" style="display: none;">
                                        <i class="fas fa-spinner fa-pulse"></i>
                                    </div>
                                    <i class="fas fa-check-circle" id="check-img" style="display: none;"></i>
                                </div>
                                <div class="col-6 custom-file">
                                    <input type="file" class="custom-file-input" id="audio-file" name="chapter[audio]" accept=".mp3,.wav" value="{% if chapter is defined %}{{ chapter.audio }}{% endif %}">
                                    <label id="audio-file-label" class="custom-file-label" for="audio-file">{% if chapter is defined %}{{ chapter.audio }}{% else %}Ambiance sonore ...{% endif %}</label>
                                    <div class="fa-3x" id="spinner-music" style="display: none;">
                                        <i class="fas fa-spinner fa-pulse"></i>
                                    </div>
                                    <i class="fas fa-check-circle" id="check-music" style="display: none;"></i>
                                </div>
                            </div>
                            <br/><br/>
                            <div id="row">
                                <div class="col-12 form-group textarea-container">
                                    <textarea class="form-control" id="chapter_content" name="chapter[content]" rows="15" placeholder="Texte" required hidden>{% if chapter is defined %}{{ chapter.content }}{% endif %}</textarea>
                                </div>
                            </div>
                            {% if chapter is defined %}
                                <input type="hidden" name="chapter[id]" value="{{ chapter.id }}">
                            {% endif %}
                            <input type="hidden" name="chapter[previousChapter]" value="{{ previousChapter.id }}">
                            <input type="hidden" name="token" value="{{ csrf_token('suite-form') }}">
                            <div class="btn-container">
                                <a id="cancel-btn" class="btn btn-danger tale-btn-1" onclick="resetForm()">
                                    <i class="fas fa-trash"></i>
                                    <div>Annuler</div>
                                </a>
                                <button type="submit" id="add-suite-btn" class="btn btn-success tale-btn-1">
                                    <i class="fas fa-plus"></i>
                                    <div>
                                        {% if chapter is defined %}
                                            Sauvegarder les modifications
                                        {% else %}
                                            Ajouter cette suite
                                        {% endif %}
                                    </div>
                                </button>
                            </div>
                        </form>
                </div>
            </section>

        </div>

        {% if chapter is defined %}
            <input type="hidden" id="isEditingForm" value="true"/>
        {% else %}
            <input type="hidden" id="isEditingForm" value="false"/>
        {% endif %}

    </section>


{% endblock %}


{% block javascripts %}
    <!-- jquery -->
    <script type="text/javascript" src="{{ asset('js/jquery/jquery-3.5.1.min.js?v=3.5.1') }}"></script>
    <!-- popper -->
    <script type="text/javascript" src="{{ asset('js/popper/popper.min.js?v=1.16.0') }}"></script>
    <!-- bootstrap 4 -->
    <script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap.min.js?v=4.1.3') }}"></script>
    <!-- summernote -->
    <script type="text/javascript" src="{{ asset('js/summernote/summernote-bs4.min.js?v=0.8.18') }}"></script>

    <script>
        $(document).ready(function() {
            $('#chapter_content').summernote( {
                height: 300,
                toolbar: [
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['forecolor', ['forecolor']],
                    ['backcolor', ['backcolor']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['undo', ['undo']],
                    ['redo', ['redo']],
                    ['fullscreen', ['fullscreen']],
                    ['help', ['help']],
                ]
            });
            $('.note-editable').css('font-size','0.8rem');
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/suiteForm/suiteForm.js?v=0.1') }}"></script>
    <script type="text/javascript">
        if( window.File && window.FileReader && window.FileList)
        {
            // Audio upload
            $( '#audio-file' ).on( 'change', function( event )
            {
                var file  = event.target.files[0]; //File object

                //Only pics
                if( file.type.match( 'audio.*' ) )
                {
                    if( this.files[ 0 ].size < 20971520 )
                    {    
                        // Show the loading gif while it uploads
                        var loading = document.getElementById( "spinner-music" );
                        var check = document.getElementById( "check-music" );
                        loading.style.display = "inline";
                        // continue;
                        var picReader = new FileReader();
                        picReader.onload = (function(file,loading, check )
                        {
                            return function myFunct(event){
                                loading.style.display = "none";
                                check.style.display = "inline"; 
                            }
                        })(file,loading, check);
                        picReader.readAsDataURL(file);
                    }
                    else
                    {
                        alert( "Audio Size is too big. Maximum size is 20MB." );
                        $( this ).val( "" );
                    }
                }
                else
                {
                    alert( "You can only upload audio file." );
                    $( this ).val( "" );
                }                               
            });

            // Image upload
            $( '#background-img-file' ).on( 'change', function( event )
            {
                var file  = event.target.files[0]; //File object

                //Only pics
                if( file.type.match( 'image.*' ) )
                {
                    if( this.files[ 0 ].size < 20971520 )
                    {    
                        // Show the loading gif while it uploads
                        var loading = document.getElementById( "spinner-img" );
                        var check = document.getElementById( "check-img" );
                        loading.style.display = "inline";
                        // continue;
                        var picReader = new FileReader();
                        picReader.onload = (function(file,loading, check )
                        {
                            return function myFunct(event){
                                loading.style.display = "none";
                                check.style.display = "inline"; 
                            }
                        })(file,loading, check);
                        picReader.readAsDataURL(file);
                    }
                    else
                    {
                        alert( "Image Size is too big. Maximum size is 20MB." );
                        $( this ).val( "" );
                    }
                }
                else
                {
                    alert( "You can only upload image file." );
                    $( this ).val( "" );
                }                               
            });
        }
        else
        {
            alert("Your browser does not support File API" );
        }
    </script>
{% endblock %}
