{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tale.css?v=1.0') }}">
    <style>
        body {
            background-image: url('{{ asset(currentChapter.background) }}');
            background-position: center;
            /*background-repeat: no-repeat;*/
            background-size: cover;
        }
    </style>
{% endblock %}

{% block header %}
    {% if preview %}
        <a id="back-btn" class="header-btn disabled">
            <i class="fas fa-arrow-circle-left"></i>
        </a>
    {% elseif currentChapter.previousChapter == -1 %}
        <a id="back-btn" class="header-btn" href="{{ path('home')}}">
            <i class="fas fa-arrow-circle-left"></i>
        </a>
    {% else %}
        <a id="back-btn" class="header-btn" href="{{ path('tale', {id: currentChapter.previousChapter})}}">
            <i class="fas fa-arrow-circle-left"></i>
        </a>
    {% endif %}

    {% if preview %}
        <a id="home-btn" class="header-btn disabled">
            <i class="fas fa-home"></i>
        </a>
    {% else %}
        <a id="home-btn" class="header-btn" href="/">
            <i class="fas fa-home"></i>
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <section id="left-part" class="col-lg-9">
            <div id="left-part-content">
                <article>
                    <h2>{{ currentChapter.title }}</h2>
                    <p>{{ currentChapter.content|raw }}</p>
                    <span id="chapid" style="display:none">{{ currentChapter.id }}</span>
                    <span id="previd" style="display:none">{{ currentChapter.previousChapter }}</span>
					<div id="info-chapter">dernière modification : {{ currentChapter.updatedAt|date('d-m-Y H:i:s') }}</div>
                </article>
            </div>


            <div id="left-part-footer">
                <div id="btn-row">
                    <button id="voice-btn" class="tale-btn">
                        Histoire en parole
                    </button>
                    {% if not preview and currentChapter.editingAuthorized %}
                        <a href="{{ path('editTale', {id: currentChapter.id})}}" id="edit-btn" class="tale-btn">Éditer le passage</a>
                    {% else %}
                        <a id="edit-btn" class="tale-btn disabled">Éditer le passage</a>
                    {% endif %}

                    {% if preview %}
                        <a id="edit-btn" class="tale-btn disabled">Historique des modifications</a>
                    {% else %}
                        <a href="{{ path('taleBackup', {id: currentChapter.id})}}" id="edit-btn" class="tale-btn">Historique des modifications</a>
                    {% endif %}

                    <button type="button" id="history-btn" class="tale-btn {% if preview %}disabled{% endif %}" data-toggle="modal" data-target="#historyModal" {% if preview %}disabled{% endif %}>
                        Mon parcours
                    </button>
                </div>
                <div id="audio-row">
                    <audio id="musicsonore" controls src={{ asset(currentChapter.audio) }}>Your browser does not support the <code>audio</code> element.</audio>
                </div>
                <div id="audio-row" hidden="true">
                    <audio id="speech" controls src={{ asset(currentChapter.textSpeech) }}>Your browser does not support the <code>audio</code> element.</audio>
                </div>
            </div>
        </section>

        <aside class="col-lg-3">
            <h3>La suite</h3>
            <div id="lst-suite">
                {% for chapter in nextChapters %}
                    {% if preview %}
                        <a class="lst-suite-btn disabled"><i class="fas fa-arrow-right"></i>{{ chapter.title }}</a>
                    {% else %}
						<a class="lst-suite-btn {{
							("now"|date('U') - chapter.updatedAt|date('U') <= 432000)? 'recent' : 'old'
						}}" href="{{ path('tale', {id: chapter.id})}}"><i class="fas fa-arrow-right"></i>{{ chapter.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <form method="post" action="/suiteForm">
                <input type="hidden" name="tale-id" value="{{ currentChapter.id }}">
                <input type="hidden" name="token" value="{{ csrf_token('go-to-suite-form') }}">
                <button type="submit" id="add-suite-btn" class="btn btn-primary tale-btn-1" {% if preview or not currentChapter.addingSuiteAuthorized %}disabled title="Ce passage n'est pas modifiable."{% endif %}>
                    <i class="fas fa-pencil-alt"></i>
                    <div>Écrire une suite</div>
                </button>
            </form>
        </aside>
    </div>
{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="historyModalLabel">Historique</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="history-panel" class="modal-body">
                    History is empty
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery/jquery-3.5.1.min.js?v=3.5.1') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap.min.js?v=4.1.3') }}"></script>
    <script type="text/javascript" src="{{ asset('js/history/history.js') }}"></script>
    <script>
        var audio = document.getElementById("musicsonore");
        audio.volume = 0.2;

        document.getElementById ("voice-btn").addEventListener ("click", playSpeech, false);

        function playSpeech() {
            var src = '{{ currentChapter.textSpeech }}'
            if (src != "") {
                var voice = document.getElementById("speech");
                voice.volume = 0.4;
                if (voice.paused) {
                    voice.play();
                }
                else {
                    voice.pause();
                }
            }
            else {
                alert("Pas de texte à lire !")
            }
        }
    </script>
{% endblock %}
