{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/taleBackup.css?v=1.0') }}">
{% endblock %}

{% block header %}
    <a id="back-btn" class="header-btn" href="{{ path('tale', {id: currentChapterId})}}">
        <i class="fas fa-arrow-circle-left"></i>
    </a>
    <a id="home-btn" class="header-btn" href="/">
        <i class="fas fa-home"></i>
    </a>
{% endblock %}

{% block body %}
    <div id="page-container" class="row">
        <div id="left-part" class="col-lg-10">
            <iframe id="page-preview" src="{{ path('talePreview', {id: currentChapterId, isBackup: 0})}}"></iframe>
        </div>
        <aside id="right-part" class="col-lg-2">
            <h3>Historique</h3>
            <div id="backup-list">
                <div class="list-item">
                    <button type="button" class="btn-secondary history-btn active" onclick="loadCurrentTaleVersion(this)">Version actuelle</button>
                </div>
                {% for backupItem in lstBackup %}
                    <div class="list-item">
                        <button type="button" class="btn-secondary history-btn" onclick="loadTaleBackupVersion({{ backupItem.id }}, this)">{{ backupItem.updatedAt|date('d-m-Y H:i:s') }}</button>
                        <form method="post" action="{{ path('restoreBackupVersion') }}">
                            <input type="hidden" name="backupId" value="{{ backupItem.id }}">
                            <input type="hidden" name="token" value="{{ csrf_token('restoreBackupForm') }}">
                            <button type="submit" class="restore-btn" title="Restaurer cette version">
{#                                <i class="fas fa-cloud-upload-alt"></i>#}
                                <i class="fas fa-upload"></i>
                            </button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </aside>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery/jquery-3.5.1.min.js?v=3.5.1') }}"></script>

    <script>
        function loadCurrentTaleVersion(btn) {
            var url = '{{ path('talePreview', {id: currentChapterId, isBackup: 0})}}';
            $('#page-preview').attr('src', url);

            updateActiveBtnCss();
            $(btn).addClass('active');
        }

        function loadTaleBackupVersion(id, btn) {
            var url = '{{ path('talePreview', {id: 'tmpId', isBackup: 1})}}';
            url = url.replace("tmpId", id);
            $('#page-preview').attr('src', url);

            updateActiveBtnCss();
            $(btn).addClass('active');
        }

        function updateActiveBtnCss() {
            $(".history-btn").each(function(index) {
                $(this).removeClass('active');
            });
        }

    </script>

{% endblock %}
