
body {
    background-image: url('../media/images/form_background.jpg');
    background-position: center;
    background-size: cover;
}

#page-content {
    padding: 1rem 4rem 2rem 4rem;
}

#previousChapterContent {
    border-radius: 5px;
    background-color: var(--aside-background-color);
    -webkit-box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    padding: 1rem;
    margin-bottom: 1rem;
}

#previousChapterContent > h2 {
    font-family: 'Pacifico', cursive;
    margin: 0 0 2rem 0;
}

#previousChapterContent > p {
    font-size: 0.8rem;
}


.form-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-inputs {
    position: relative;
    height: 90%;
    border-radius: 5px;
    background-color: var(--aside-background-color);
    padding: 1rem;
    -webkit-box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
}

.form-title {
    font-family: 'Pacifico', cursive;
    border-top: 2px solid #495057;
    border-bottom: 2px solid #495057;
    font-size: 1.4rem;
    font-weight: bold;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-inputs > form {
    margin: 1rem 0 0 0;
}

label {
    font-size: 1rem;
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#cancel-btn {
    margin-right: 1rem;
}

.custom-file-label, .custom-file-label::after {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
}

.custom-file-label {
    height: calc(1.8125rem + 2px);
    margin: 0 1rem 0 1rem;
    color: #6D757D;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}

.custom-file-label:hover {
    cursor: pointer;
}

.custom-file-label::after {
    height: 1.8125rem;
}

.textarea-container {
    padding: 0;
    margin: 1rem 0 1rem 0;
}

.tale-btn-1 {
    margin-top: 1rem;
    width: 100%;
}

.suite-form-success-msg {
    margin-top: 1rem;
    font-size: 0.8rem;
}

#check-img, #check-music {
    font-size: 1.6rem;
    color: green;
}