
html {
    --main-color: #3F76A5;
    --header-text-color: white;
    --header-text-color-hover: #e3e3e3;
    --background-color: #f1f1f1;
    --aside-background-color: white;
    --text-color: black;
    --green-color: #46a53f;
}

body {
    font-size: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

header {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    color: var(--header-text-color);
    background-color: var(--main-color);
    -webkit-box-shadow: 0px 3px 24px 1px rgba(0,0,0,0.42);
    box-shadow: 0px 3px 24px 1px rgba(0,0,0,0.42);
}

header > h1 {
    font-family: 'Pacifico', cursive;
    font-size: 1.3rem;
    margin: 0;
}

header > form {
    height: 2.3rem;
}

.header-btn {
    position: absolute;
    color: var(--header-text-color);
    font-size: 1.2rem;
}

.header-btn.disabled {
    cursor: not-allowed;
}

.header-btn:hover {
    color: var(--header-text-color-hover);
}

#home-btn {
    right: 1rem;
}

#back-btn {
    left: 1rem;
    font-size: 1.3rem;
}

#page-content {
    position: relative;
    height: calc(100vh - 2.5rem);;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 2rem 4rem;
}

.tale-btn-1 {
    left: 1rem;
    bottom: 1rem;
    color: white !important;
    width: 20rem;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tale-btn-1 > i {
    margin-right: 1rem;
}

.remove-btn-style {
    font-size: 0.8rem;
    background-color: transparent;
    border: none;
}

.remove-btn-style:hover{
    cursor: pointer;
}

.remove-btn-style:focus {
    outline:0;
}