
.row {
    padding: 0 1rem 0 1rem;
    justify-content: space-between;
}

.card {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.card > h4 {
    font-family: 'Pacifico', cursive;
}

.card-content > p, .card-content > a {
    font-size: 1rem;
}

#credits-intro {
    font-family: inherit;
    text-align: center;
}

.no-radius-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.no-radius {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.no-radius-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#card-logo-utc > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-utc {
    width: 15%;
}