
#page-content {
    background-image: url('../media/images/home_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#enter-btn {
    font-weight: bold;
    width: 17rem;
    -webkit-box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
}

#enter-btn > .fa-arrow-up {
    animation: arrowAnimation 1s ease-in-out infinite;
}

@keyframes arrowAnimation {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 8px);
    }
}

#history-btn {
    -webkit-box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
}

#history-btn > i {
    margin-right: 1rem;
}

#stats-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.stats-item {
    background-color: white;
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
}

.stats-item-title {
    font-size: 1.1rem;
}

.stats-item-value {
    font-size: 2rem;
}

.recent {
	font-weight: bold;
}
.recent:after {
	content: '\f252';
	font-family: "Font Awesome 5 Free";
	margin: 0px 0px 0px 10px;
}

#credits {
    font-size: 1rem;
    -webkit-box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
}