body {
    background-image: url('../media/images/form_background.jpg');
    background-position: center;
    background-size: cover;
}

#page-container {
    height: 100%;
}

#left-part, #right-part {
    margin-bottom: 1rem;
}

iframe {
    min-height: 620px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 0px 3px 24px 1px rgba(0,0,0,0.42);
    box-shadow: 0px 3px 24px 1px rgba(0,0,0,0.42);
}

aside {
    position: relative;
    height: 100%;
    border-radius: 5px;
    background-color: var(--aside-background-color);
    -webkit-box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    padding: 0 0 0 1rem !important;
    display: flex;
    flex-direction: column;
}

aside > h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    margin: 0 1rem 1rem 0;
    border-bottom: 2px solid black;
    font-size: 20px;
    font-weight: bold;
}

aside > #backup-list {
    height: calc(100% - 5rem);
    overflow-y: auto;
    padding: 0 0.5rem 0 0;
    margin: 0 0.5rem 0.5rem 0;
}

aside > #backup-list::-webkit-scrollbar {
    width: 6px;
}

aside > #backup-list::-webkit-scrollbar-thumb {
    background-color: grey;
}
aside > #backup-list::-webkit-scrollbar-track {
    background-color: lightgrey;
}

.list-item {
    display: flex;
    flex-direction: row;
}

.history-btn {
    border-radius: 3px;
    width: 100%;
    border: none;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    background-color: #EFEFEF;
    color: black;
}

.history-btn:hover {
    cursor: pointer;
}

.history-btn:focus {
    box-shadow: none !important;
    outline: 0;
}

.history-btn.active {
    background-color: var(--green-color) !important;
}

.restore-btn {
    font-size: 0.8rem;
    border-radius: 3px;
    border: none;
    margin-left: 0.5rem;
    height: calc(100% - 0.5rem);
    background-color: #EFEFEF;
}

.restore-btn:hover {
    background-color: var(--green-color);
    color: white;
    cursor: pointer;
}

.restore-btn:focus {
    box-shadow: none !important;
    outline: 0;
}