#page-content {
    flex-direction: row;
}

#page-content > .row {
    min-width: 100%;
}

#left-part {
    /*flex: 3;*/
    /*margin-right: 4rem;*/
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

article {
    border-radius: 5px;
    background-color: var(--aside-background-color);
    -webkit-box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    padding: 1rem;
    min-height: 50%;
}

article > h2 {
    font-family: 'Pacifico', cursive;
    margin: 0 0 2rem 0;
    text-align: center;
}

article > p {
    font-size: 16px;
}
article > p::first-letter {
    font-size: 19px;
}

#info-chapter {
    text-align: right;
	font-style: italic;
	font-family: monospace;
    font-size: 12px;
}

aside {
    position: relative;
    /*flex: 1;*/
    height: fit-content;
    border-radius: 5px;
    background-color: var(--aside-background-color);
    -webkit-box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

aside > h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    /*margin: 0 1rem 0 1rem;*/
    margin: 0 0 1rem 0;
    border-bottom: 2px solid black;
    font-size: 20px;
    font-weight: bold;
}

#lst-suite {
    display: flex;
    flex-direction: column;
}

.lst-suite-btn {
    /*color: #007BFF;*/
    font-size: 0.8rem;
    font-size: 16px;
}

/*.lst-suite-btn:hover{*/
/*    text-decoration: underline;*/
/*}*/

.lst-suite-btn > .fas {
    margin-right: 0.5rem;
}

aside > form {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

#add-suite-btn {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#add-suite-btn:disabled {
	cursor: not-allowed;
}

#left-part-content {
    flex: 1;
}

#left-part-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*padding-bottom: 1rem;*/
}

#btn-row {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tale-btn {
    height: 2.3rem;
    background-color: white;
    color: var(--text-color);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
    -webkit-box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    margin-right: 1rem;
    margin-top: 1rem;
    border: 0;
}

.tale-btn.disabled {
    color: var(--text-color);
	background-color: lightgrey;
	cursor: not-allowed;
}

.tale-btn:hover {
    text-decoration: none;
    color: var(--header-text-color);
    background-color: var(--main-color);
    cursor: pointer;
}

.tale-btn.disabled:hover {
    color: var(--text-color);
    background-color: lightgrey;
	cursor: not-allowed;
}

.tale-btn:focus {
    outline:0;
}

#btn-row > .tale-btn:last-child {
    margin-right: 0;
}

#audio-row > audio {
    width: 100%;
    border-radius: 90px;
    -webkit-box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 24px -5px rgba(0,0,0,0.42);
}
.recent {
	font-weight: bold;
}
.recent:after {
	content: '\f252';
	font-family: "Font Awesome 5 Free";
	margin: 0px 0px 0px 10px;
}