<!DOCTYPE html>
<html>
    <head>
        <meta charset="Latin-9">
        <title>{% block title %}TaleTree{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css?v=4.1.3') }}">
        <link rel="stylesheet" href="{{ asset('css/fontawesome/all.min.css?v=5.15.1') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('css/base.css?v=1.0') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>TaleTree</h1>
            {% block header %}
            {% endblock %}
        </header>
        <div id="page-content">
            {% block body %}{% endblock %}
        </div>
        {% block modal %}{% endblock %}
        <footer>
            {% block footer %}{% endblock %}
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
